<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ddffbc"/>
    <meta name="description" content="The best vegan restaurants near you!">
    <script src="/b070c8f1df.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>-->
    <title>Hungry Vegans</title>
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Lato'>
    <link rel="stylesheet" href="/font-awesome.min.css">
    <style>
        body {
            font-family: 'Lato',serif;font-size: 22px;
        }
    </style>
</head>
<body>
<header>
    <a class="skip-link" href='#main'>Skip to content</a>
    <!-- Navigation-->
</header>
<div class="wrapper">
    <main id="header-apps">
        <button id="hamburger" aria-label="hamburger menu">☰</button>

        <nav id="drawer">
            <ul class="menu">
                <li class="logo">
                    <a href="#">
                        <div>
                            <img class="lazyload" class="img-logo" alt="logo" width="36" height="36" data-src="images/logo.png" />
                            <div class="main-title">Hungry Vegans</div>
                        </div>
                    </a>
                </li>
                <li class="item"><a href="/" title="Home"><i class="fa fa-home"></i>&nbsp; Home</a></li>
                <li class="item"><a href="/#/like" title="Favorite"><i class="fa fa-star"></i>&nbsp; Favorite</a></li>
                <li class="item"><a href="https://github.com/dyhaz" title="About Us"><i class="fa fa-info"></i>&nbsp; About Us</a></li>
            </ul>
        </nav>
    </main>

    <div class="hero"><div class="hero-text"><strong>The Best Vegan Restaurants</strong><br>in Your City</div></div>
    <div class="main" id="main">
    </div>
    <div class="footer">
        Copyright &copy; 2021 - Hungry Vegans
    </div>
</div>
</body>
</html>
