<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps Starter Project</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: 'Lato',serif;font-size: 22px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <nav id="drawer">
        <ul class="menu">
            <li class="logo"><a href="#">Hunger Apps</a></li>
            <li class="item"><a href="#" title="Home">Home</a></li>
            <li class="item"><a href="#" title="Favorite">Favorite</a></li>
            <li class="item"><a href="#" title="About Us">About Us</a></li>
        </ul>
    </nav>
    <main>
        <a id="hamburger" href="#">☰</a>
<!--        <h1>This is main content</h1>-->
<!--        <p>Tekan pada tombol hamburger button untuk membuka Menu </p>-->
    </main>

    <div class="hero"></div>
    <div class="main">
        <h1>Explore Restaurant</h1>
<!--        <p>Hallo coders! Anda berhasil menjalankan starter project.</p>-->
<!--        <p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>-->
        <div class="card">
<!--            <div class="card-item">-->
<!--                <img src="./images/heros/hero-image_1.jpg" alt="">-->
<!--                <div>-->
<!--                    <p class="rating">Rating: 4.5</p>-->
<!--                    <h4>Lorem Ipsum Dolor</h4>-->
<!--                    <p>Lorem ipsum dolor asdfsdfs nkalsdfmnknadsf jasdfjk ajdf;dsasdf dsf asd</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-item">-->
<!--                <img src="./images/heros/hero-image_3.jpg" alt="">-->
<!--                <div>-->
<!--                    <p class="rating">Rating: 4.5</p>-->
<!--                    <h4>Lorem Ipsum Dolor</h4>-->
<!--                    <p>Lorem ipsum dolor asdfsdfs nkalsdfmnknadsf jasdfjk ajdf;dsasdf dsf asd</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="card-item">-->
<!--                <img src="./images/heros/hero-image_4.jpg" alt="">-->
<!--                <div>-->
<!--                    <p class="rating">Rating: 4.5</p>-->
<!--                    <h4>Lorem Ipsum Dolor</h4>-->
<!--                    <p>Lorem ipsum dolor asdfsdfs nkalsdfmnknadsf jasdfjk ajdf;dsasdf dsf asd</p>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2021 - Hunger Apps
    </div>
</div>
</body>
</html>
