<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hungry Vegans</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet'>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: 'Lato',serif;font-size: 22px;
        }
    </style>
</head>
<body>
<header>
    <a class="skip-link" href='#main'>Skip to content</a>
    <!-- Navigation-->
</header>
<div class="wrapper">
    <main>
        <button id="hamburger"><!--<i class="fa fa-bars"></i>-->☰</button>

        <nav id="drawer">
            <ul class="menu">
                <li class="logo">
                    <a href="#">
                        <div>
                            <img class="img-logo" alt="logo" width="36" height="36" src="images/logo.png" />
                            <div class="main-title">Hungry Vegans</div>
                        </div>
                    </a>
                </li>
                <li class="item"><a href="/" title="Home"><i class="fa fa-home"></i>&nbsp; Home</a></li>
                <li class="item"><a href="#" title="Favorite"><i class="fa fa-star"></i>&nbsp; Favorite</a></li>
                <li class="item"><a href="https://github.com/dyhaz" title="About Us"><i class="fa fa-info"></i>&nbsp; About Us</a></li>
            </ul>
        </nav>
    </main>

    <div class="hero"><div class="hero-text"><strong>The Best Vegan Restaurants</strong><br>in Your City</div></div>
    <div class="main" id="main">
        <h1>Explore Restaurant</h1>
        <p>Cool vegan restaurants to eat near me.</p>
        <div class="card">
        <!-- Card goes here -->
        </div>
    </div>
    <div class="footer">
        Copyright &copy; 2021 - Hungry Vegans
    </div>
</div>
</body>
</html>
