/* SCSS HEX */
$color1: #fffbdf;
$color2: #c6ffc1;
$color3: #34656d;
$color4: #334443;
$color5: #14282b;

body {
  background-color: $color1;
}

.card {
  //background-color: $wild-blue-yonder;
}

.card-item {
  background-color: $color2;
  border: 1px solid $color4;
}

.footer {
  background-color: $color5;
  color: $color2;
}

#drawer {
  background-color: $color3;
}

.menu {
  background-color: $color3;

  & li {
    background-color: $color3;
  }
}

.hero-text {
  color: $color1;
}

// Ribbon

#ribbon-container a {
  border: 2px solid $color5;
  background-color: $color4;
  color: $color2;
}

#ribbon-container a:hover {
  background: $color3;
}

// Navbar

.item:hover {background-color: $color5;}

