/* SCSS HEX */
$color1: #feffde;
$color2: #ddffbc;
$color3: #91c788;
$color4: #52734d;
$color5: #14282b;

body {
  background-color: $color1;
}

main {
  background-color: $color5;

  & .fa-bars {
    color: #fff;
  }
}

.card {
  //background-color: $wild-blue-yonder;
}

.card-item {
  background-color: $color2;
  border: 1px solid $color4;
}

.footer {
  background-color: $color5;
  color: $color2;
}

#drawer {
  background-color: $color3;
}

.menu {
  background-color: $color3;

  & li {
    background-color: $color3;
  }
}

.hero-text {
  color: #fff;
}

// Ribbon

#ribbon-container a {
  border: 2px solid $color5;
  background-color: $color4;
  color: $color2;
}

#ribbon-container a:hover {
  background: $color3;
}

// Navbar

.item:hover {background-color: $color5;}

// Header
.skip-link {
  background: $color3;
  color: #fff;
}
