img {
    display: block;
}

.wrapper {
    display: grid;
    overflow-x: hidden;
}

/* styling pendukung */
.wrapper > div {
    padding: 16px;
}

div {
    border: 1px dashed black;
}

.hero {
    display: flex;
    background-image: url('/images/heros/hero-image_4.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Main */

/* minimal layar ukuran besar */
@media screen and (min-width: 768px) {
    .card {
        text-align: center;
        display: grid;
        grid-row-gap: 20px;
    }

    .card-item {
        margin: 0 0 0 0 !important;
    }

    .card-item:not(:nth-child(3n)) {
        margin-right: 8px !important;
    }
}

.main {
    text-align: center;
}

.card {
    width: 100%;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 600px;
}

.card-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
    background: blue;
}

.card-item:not(:last-child) {
    margin-bottom: 20px;
}

.card-item img {
    max-width: 100%;
    height: auto;
}

.card-item div {
    text-align: initial;

    width: 100%;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    font-size: small;
}

.footer {
    text-align: center;
    background: aqua;
}

/* Mobile menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
