img {
    display: block;
}

.wrapper {
    display: grid;
    overflow-x: hidden;
}

/* styling pendukung */
.wrapper > div {
    padding: 16px;
}

div {
    /*border: 1px dashed black;*/
}


#drawer ul {
    list-style-type: none;
    padding: 0 16px;
}


#drawer li {
    padding: 5px 0px;
}


#drawer a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}


#hamburger {
    font-size: 32px;
    text-decoration: none;
    color: black;
}

.hero {
    display: flex;
    background-image: url('/images/heros/hero-image_2.jpg');
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Main */

/* minimal layar ukuran besar */
@media screen and (min-width: 768px) {
    .card {
        text-align: center;
        display: grid;
        grid-row-gap: 20px;
    }

    .card-item {
        margin: 0 0 0 0 !important;
    }

    .card-item:not(:nth-child(3n)) {
        margin-right: 8px !important;
    }
}

.main {
    text-align: center;
}

.card {
    width: 100%;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 600px;
}

.card-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
    /*background: blue;*/
}

.card-item:not(:last-child) {
    margin-bottom: 20px;
}

.card-item img {
    max-width: 100%;
    width: 100%;
    /*height: auto;*/
}

.card-item div {
    text-align: initial;

    width: 100%;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating {
    font-size: small;
}

.footer {
    text-align: center;
    background: aqua;
}

/* Mobile menu */

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}

.item.button {
    order: 2;
}

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#drawer {
    width: 250px;
    height: 100%;
    position: absolute;
    /* menyembunyikan #drawer -250px (sesuai dengan ukuran lebar drawer) ke kiri */
    transform: translate(-250px, 0);
    transition: transform 0.3s ease-in-out;
}

#drawer.open {
    transform: translate(0,0)
}

/* Tablet menu */

@media all and (min-width: 700px) {
    .menu li a {
        display: block;
        padding: 15px 5px;
    }

    .menu {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    .logo {
        flex: 1;
    }
    .item.button {
        width: auto;
        order: 1;
        display: block;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 10px 15px;
        margin: 5px 0;
    }
    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* Desktop menu */

@media all and (min-width: 960px) {
    .menu {
        display: flex;
        align-items: stretch;
        flex-wrap: nowrap;
        background: none;
        width: 100%;
    }

    .menu li a {
        display: block;
        padding: 15px 5px;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }

    .button {
        order: 2;
    }

    #drawer {
        width: 100%;
        display: flex;
        position: relative;
        transform: none;
        transition: none;
    }

    #hamburger {
        display: none;
    }
}
/* Rating */

.star-wrapper {
    margin-top: 20px;
    position: initial;
    /*direction: rtl;*/
}
.star-wrapper a {
    font-size: 1em;
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    margin: 4px;
}

.star-wrapper .active {
    color: gold;
}

.star-wrapper a:before {
    content: "\f005";
    font-family: FontAwesome;
}

/* Ribbon */

.content-box {
    position: relative;
    background: gray;
}

#ribbon-container {
    position: absolute;
    top: 15px;
    left: -20px;
    overflow: visible;
    font-size: 18px;
    line-height: 18px;
}

#ribbon-container:before {
    content:"";
    height: 0;
    width: 0;
    display: block;
    position: absolute;
    top: 3px;
    right: 0;
}

#ribbon-container:after {
    content:"";
    height: 3px;
    /*background: rgba(0,0,0,.3);*/
    display: block;
    position: absolute;
    bottom: -3px;
    right: 58px;
    left:3px;
}

#ribbon-container a {
    display:block;
    padding:20px;
    position:relative;
    background:#0089d0;
    overflow:visible;
    margin-right:100px;
    margin-left: 10px;
    color:#fff;
    text-decoration:none;
}

#ribbon-container a:hover {
    background:#009ff1;
}

#ribbon-container a:hover:before {
    border-top: 29px solid #009ff1;
    border-bottom: 29px solid #009ff1;
}
